*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(43, 43, 43);
}
/*Navbar*/
.logoimg {
  width: 50%;
}
.navbar{ 
  background-color: blue;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  background-color: black;
}

.nav_item{
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  margin: 15px;
}

.nav_toggler div{
  width: 2rem;
  height: 0.1rem;
  margin: 0.3rem;
  background: white;
  transition: 0.4s ease-in;
}

.nav_toggler{
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .nav_toggler {
    display: block;
  }
  .nav_menu{
    position: fixed;
    top: 7vh;
    right: 0;
    width: 20%;
    height: 93vh;
    background-color: black;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}

.nav_active {
  transform: translateX(0);
}

.toggle .line1 {
  transform: rotate(-35deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(35deg) translate(-4px, -5px);
}

.nav_item i {
  font-size: 20px;
  color: white;
  padding: 3px;
  cursor: pointer;
}

.icon-lg-re {
  margin: 8px;
}

/*Card Home*/
.card-home-contain {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.card-home-contain:hover {
  background-color: black;
}

.img img {
  width: 95%;
  margin: 10px;
  cursor: pointer;
  height: auto;
}

.img img:hover {
  width: 98%;
}

/* .btn-shop {
  width: 10%;
  height: 5vh;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.btn-shop:hover {
  background-color: #5a5757;  
  color: black;
  transition: color 0.3s;
} */

/*Banner*/
.banner-tienda img {
  width: 100%;
}

/*Contact*/
.contact-form {
  margin: 10px;
  display: flex;
  justify-content: center;
  /* margin: 60px; */
}

h1 {
  font-size: 25px;
  color: white;  
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 40vh; */
  width: 35%;
}

.input-form {
  margin: 10px;
  padding: 5px;
  width: 100%;
  height: 8vh;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: white;
}

.input-form-message {
  margin: 10px;
  padding: 5px;
  width: 100%;
  height: 15vh;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: white;
}
 
.input-form:hover {
  background-color: rgba(255, 255, 255, 0.219);
  color: white;
}

.input-form-message:hover {
  background-color: rgba(255, 255, 255, 0.219);
  color: white;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-form {
  width: 60%;
  height: 5vh;
  background-color: bisque;
  border: none;
  border-radius: 5px;
}

.btn-form:hover {
  background-color: rgba(255, 255, 255, 0.219);
  color: white;
}

/*Catalogo*/
.arrow-left i {
  font-size: 30px;
  margin: 10px;
  padding: 8px;
  background-color: black;
  border-radius: 10px;
}

.card-contain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card-catalogo, img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.text-card p {
  /* margin-bottom: 5px; */
  font-size: 17px;
  text-align: center;
}

.btn-clo {
  width: 10%;
  height: 5vh;
  border: none;
  border-radius: 20px;
  margin: 6px;
  background-color: black;
  color: white;
}

.btn-clo:hover {
  background-color: rgba(255, 255, 255, 0.219);
}

.title-animation {
  display: flex;
  overflow: hidden; 
  white-space: nowrap; 
  background-color: black;
}

.title-animation span {
  display: inline-block;
  padding: 0 30px;
  animation: moveText 10s linear infinite; 
  color: white;
  font-size: 20px;
}

@keyframes moveText {
  0% {
    transform: translateX(100%); /* Comienza fuera del contenedor por la derecha */
  }
  50% {
    transform: translateX(-100%); /* Mueve el texto fuera del contenedor por la izquierda */
  }
  100% {
    transform: translateX(100%); /* Regresa al punto inicial, a la derecha */
  }
}

/*ViewProduct*/
.viewproduct {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 20px;
  align-items: start;
  padding: 0 20px;
}

.info {
  max-width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 100px;
  background-color: #696464;
  border-radius: 10px;
}

.section-img-products {
  display: flex;
  align-items: center; 
}

.section-img-products-2 {
  display: flex;
  align-items: center; 
}

.img-product-1{
  width: 50%;
  margin: 5px;
}

.img-product-2 {
  width: 50%;
  padding-top: 60px;
  margin-bottom: 15px;
}

.title-section, .description-product, .price-product, .title-tallas, .talla-product, .description-product, .add-product {
  margin: 5px 0;
}

.title-section {
  font-size: 18px;
  margin: 8px;
  color: white;
}

.description-product {
  font-size: 18px;
  margin: 8px;
  color: white;
}

.price-product {
  font-size: 16px;
  margin: 8px;
  color: white;
}

.title-tallas {
  font-size: 16px;
  margin: 8px;
  color: white;
}

.talla-product {
  display: flex;
}

.detail-product {
  display: flex;
  flex-direction: column;
  margin: 15px;
  color: white;
}

.add-product {
  width: 50%;
  height: 6vh;
  border: none;
  border-radius: 5px;
  background-color: #b93d08;
  color: white;
  margin: 8px;
}

.hr-name {
  width: 40%;
  margin-left: 5px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.talla {
  background-color: #333;
  color: white;
  font-size: 20px;
  margin: 8px;
  width: 30px;
  border-radius: 5px;
}

.talla:hover {
  background-color: #b93d08;
  border: black;
}

.img-other-product {
  width: 25%;
  display: flex;
  margin: 5px;
  gap: 8px;
  margin-bottom: 50px;
  margin-top: 20px;
  transform: translate(15%, 5%);
  justify-content: space-between; 
  align-items: center;
}

.hr-other {
  width: 95%;
  margin-top: 20px;
}

.title-other {
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/*Login*/
.login-form {
  margin: 10px;
  display: flex;
  justify-content: center;
  /* margin: 60px; */
}

.login-contain {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-form {
  font-size: 35px;
}

.option-login i {
  font-size: 19px;
  margin-bottom: 5px;
  padding:11px;
}

.option-login a {
  margin: 4px;
}

.hr-login {
  width: 80%;
  margin: 15px;
}

.sub1-form {
  font-size: 18px;
  color: white;
  margin: 50px;
}

.sub2-form {
  color: rgba(0, 0, 255, 0.699);
  margin: 10px;
}

/*Register*/
.register-form {
  margin: 10px;
  display: flex;
  justify-content: center;
  /* margin: 60px; */
}

.register-contain {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-register i {
  font-size: 19px;
  margin-bottom: 5px;
  padding:11px;
}

.option-register a {
  margin: 4px;
}

.btn-enviar {
  width: 25%;
  height: 7vh;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.icon-xmark i {
  position: absolute;
  top: 130px; 
  right: 393px;
  font-size: 30px;
  margin: 6px;
  padding: 4px;
  /* border-radius: 100px;
  background-color: black; */
}

/*Estilos generales Dashboard*/
.flex {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 20px;
}

/*HeaderPage*/
.header-page-dashboard {
  display: flex;
  background-color: black;
  height: 8vh;
}

.title-header {
  font-size: 20px;
  padding: 12px;
}

.header-icon {
  font-size: 20px;
  color: white;
  padding: 12px;
  margin-left: 1050px;
}

/*DashboardAdmin*/
.title-dashboard {
  background-color: #696464;
  height: 15vh;
  padding: 15px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

h4 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

span {
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-dashboard {
  display: inline-block;
  margin-bottom: 8px;
}

.card-dashboard-info {
  display: inline-block;
  background-color: #696464;
  margin: 8px;
  padding: 8px;
  border-radius: 10px;
}

.icon-card {
  color: black;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center ;
}

.analytics {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vistas-page {
  background-color: #696464;
  width: 50%;
  height: 40vh;
  margin: 8px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.vistas-page-2 {
  background-color: #696464;
  width: 40%;
  height: 40vh;
  margin: 8px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.grafic-ventas {
  margin-top: -10px;
}

.grafic-visitas {
  margin-top: 10px;
}

h3 {
  color: white;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*Inventario*/
 .inventario {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-inventary {
  width: 50%;
  padding-left: 20px;
  margin: 10px;
}

.btn-publish {
  width: 30%;
  height: 6vh;
  border: none;
  background-color: black;
  color: white;
  border-radius: 16px;
}

/*Estilos generales table Pedidos y Usuarios*/
.table-gnral {
  background-color: #333;
  width: 100%;
  border-radius: 8px;
}

.column {
  background-color: black;
  height: 5vh;
}

.column:hover {
  background-color: #b93d08;
}

.file {
  height: 5vh;
}

.file:hover {
  background-color: #696464;
}

th {
  color: white;
}

.title-table-gnral {
  font-size: 30px;
}

.btn-env-pedido {
  height: 4vh;
  padding: 2px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.btn-env-pedido:hover {
  background-color: #333;
}

/*SideMenu*/
.sidemenu-contain {
  background-color: black;
  color:  white;
  width: 14rem;
  height: calc(100vh - 52px);
}

.side_nav_item {
  padding: 15px;
}

.side-icons {
  font-size: 18px;
  margin: 10px;
}

.btn-logout-side, .side-icon-logout {
  font-size: 15px;
  margin: 8px;
}

.btn-logout-side {
  width: 80%;
  height: 5vh;
  border: none;
  border-radius: 17px;
  background-color: transparent;
  color: white;
  margin: 23px;
  margin-top: 240px;
  cursor: pointer;
}

.btn-logout-side {
  background-color: #333;
}

.btn-logout-side:hover {
  background-color: #696464;
}

/*Footer*/
section, p, h2, a {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
} 

/* h2, a {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-style: normal;
} */

.footer-tienda {
  height: 30vh;
  background-color: black;
  color: white;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.section-1, .section-2, .section-3 {
  margin: 0 20px;
}

.icons-rds {
  /* width: 50%; */
  display: flex;
  align-items: center;
}

.icons-rds i, .section-3 i {
  font-size: 24px;
  margin-right: 8px;
  color: #333; 
  transition: color 0.3s;
  cursor: pointer;
}

.icons-rds i:hover, .section-3 i:hover {
  color: white;
}

/* .section-3 {
  margin-left: auto;
} */